
<div class="well">
	<h3>View Profile</h3>
	<div><strong>Username:</strong> <%=user.username%></div>
	<div><strong>Last Name:</strong> <%=user.last_name%></div>
	<div><strong>First Name:</strong> <%=user.first_name%></div>
	<div><strong>Age:</strong> <%=user.age%></div><br>
	<div><a class="btn btn-primary" href="/profile/edit/<%=user.id%>">Edit Profile</a></div>
</div>