<div class="well">
	<h3>Edit Profile</h3>
  	<form role="form" method="post" action="/user/update" class="form-horizontal">	

		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Username:</label>
		    <div class="col-sm-5"><input type="text" name="" value="<%=user.last_name%>" disabled="disabled" class="form-control"></div>
		  </div>  	

		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Last Name:</label>
		    <div class="col-sm-5"><input type="text" name="last_name" value="<%=user.last_name%>" class="form-control"></div>
		  </div>  	

  		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">First Name:</label>
		    <div class="col-sm-5"><input type="text" name="first_name" value="<%=user.first_name%>"  class="form-control"></div>
		  </div>  	

		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Age:</label>
		    <div class="col-sm-5"><input type="text" name="age" value="<%=user.age%>"  class="form-control"></div>
		  </div>  	

		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">&nbsp;</label>
		    <div class="col-sm-5"><button type="submit" class="btn btn-primary">Submit</button></div>
		  </div>  	


		<input type="hidden" name="_csrf" value="<%= _csrf %>" />        
		<input type="hidden" name="id" value="<%=user.id%>" />        
	</form>
</div>